.map-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font: 15px/24px monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
    
}

#map-container {
    position: relative;
    height: 91vh;
    width: 100vw;
}

#map {
    position: relative;
    height: inherit;
    width: inherit;
}

.mapboxgl-ctrl-geocoder {
    width: 305px!important;
    max-width: 20rem;
}

.mapboxgl-popup-content{
    width: 43.5rem;
    padding: 20px 20px 20px;
    border-radius: 0.4rem
}

.light-theme {
    background-color: #fff;
    color: #444444;
}

.dark-theme {
    background-color: #202020;
    color: #f8f8f8;
  }

  h3 { 
      font-family: 'DM Serif Text', Georgia, serif; 
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
      font-weight: bold;
}

p{
    font-family: 'Merriweather', Georgia, serif; 
}

.shmancy{
    font-family: 'Merriweather', Georgia, serif; 
}

.firebaseui-idp-text{
    font-family: 'Merriweather', Georgia, serif; 
}

.mapboxgl-ctrl-geocoder--input{
    font-family: 'Merriweather', Georgia, serif !important; 
}

.mapboxgl-ctrl-geocoder--suggestion-title{
    font-family: 'Merriweather', Georgia, serif !important; 
}

.mapboxgl-ctrl-geocoder--suggestion-address{
    font-family: 'Merriweather', Georgia, serif !important; 
    font-size: smaller;
}


.subheading{
    font-family: 'Merriweather', Georgia, serif !important; 
    font-size: xx-small
}

*{
    outline: none;
}

.addMargin{
    margin-left: 0.8rem;
}

@media (max-width: 500px) {
    .carousel {
      width:auto;
      height:auto;
    }
}

.width-100 {
    width: 315px !important;
    height: 300px;
    object-fit: cover;
    border-radius: 0.4rem;
}

.light .mapboxgl-popup-content {
    background-color: white;
  }
  .light .mapboxgl-popup-tip {
    border-top-color: white;
  }
  
  /* change background and tip color to yellow */
  .dark .mapboxgl-popup-content {
    background-color: #202020;
    color: white;
  }
  .dark .mapboxgl-popup-tip {
    border-top-color: #202020;
    border-bottom-color: #202020;

  }

  .SignInButton {
    color: black;
  }

  .SignInButton.Mui-focusVisible {
      background-color: white;
  }

  .MuiButtonBase-root { /* Increase the specificity */
    color: rgb(0, 0, 0) ;
    background-color: blanchedalmond;
  }

  * {
    transition: background-color 0.25s ease, color 0.1s ease;
  }

  .mdl-shadow--2dp {
      box-shadow: none !important;
  }

  .firebaseui-title {
    text-transform: capitalize;
    font-family: 'Merriweather';
}

.modal-header{
    border-bottom: 1px solid #4e4e4e !important;
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
}
.modal-content{
background-color: #fff0 !important;
border: 1px solid rgb(0 0 0 / 0%) !important;
}

.modal-body {
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.mdl-button--raised {
    box-shadow: none !important;
}

.dark .MuiPaper-root{
    background-color: #23282b !important;
    color: white !important;

}


@media only screen and (max-width: 768px) {
    p{font-size: xx-small;}
    .propertyName{font-size: small;}
    .mapboxgl-popup-content{width: 120%;}
    .MuiButton-label{font-size: x-small;}
    .width-100 {width: 220px !important; height: 200px; margin-top: 0.5rem;}
}