.map-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font: 15px/24px monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

#map-container {
    position: relative;
    height: 91vh;
    width: 100vw;
}

#map {
    position: relative;
    height: inherit;
    width: inherit;
}

.mapboxgl-ctrl-geocoder {
    width: 305px!important;
    max-width: 20rem;
}

.mapboxgl-popup-content{
    width: 42rem;
    padding: 20px 20px 20px;
    border-radius: 0.4rem
}

.light-theme {
    background-color: #fff;
    color: #444444;
}

.dark-theme {
    background-color: #202020;
    color: #f8f8f8;
  }

  h3 { 
      font-family: 'DM Serif Text', Georgia, serif; 
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
      font-weight: bold;
}

p{
    font-family: 'Merriweather', Georgia, serif; 
}

.shmancy{
    font-family: 'Merriweather', Georgia, serif; 
}

.firebaseui-idp-text{
    font-family: 'Merriweather', Georgia, serif; 
}

.mapboxgl-ctrl-geocoder--input{
    font-family: 'Merriweather', Georgia, serif !important; 
}

.mapboxgl-ctrl-geocoder--suggestion-title{
    font-family: 'Merriweather', Georgia, serif !important; 
}

.mapboxgl-ctrl-geocoder--suggestion-address{
    font-family: 'Merriweather', Georgia, serif !important; 
    font-size: smaller;
}


.subheading{
    font-family: 'Merriweather', Georgia, serif !important; 
    font-size: xx-small
}

*{
    outline: none;
}

.addMargin{
    margin-left: 0.8rem;
}

@media (max-width: 500px) {
    .carousel {
      width:auto;
      height:auto;
    }
}

.width-100 {
    width: 315px !important;
    height: 300px;
    object-fit: cover;
    border-radius: 0.4rem;
}

.light .mapboxgl-popup-content {
    background-color: white;
  }
  .light .mapboxgl-popup-tip {
    border-top-color: white;
  }
  
  /* change background and tip color to yellow */
  .dark .mapboxgl-popup-content {
    background-color: #202020;
    color: white;
  }
  .dark .mapboxgl-popup-tip {
    border-top-color: #202020;
    border-bottom-color: #202020;

  }

  svg{
      margin-right: 0.4rem;
      margin-bottom: 0.2rem;
  }