.map-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font: 15px/24px monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

#map-container {
    position: relative;
    height: 93vh;
    width: 100vw;
}

#map {
    position: relative;
    height: inherit;
    width: inherit;
}

.mapboxgl-ctrl-geocoder {
    width: 305px!important;
    max-width: 20rem;
}

.btn {
    margin-left: 0.4rem;
}

.mapboxgl-popup-content{
    width: 40rem;
}

.light-theme {
    background-color: #fff;
    color: #444444;
  }

.dark-theme {
    background-color: #000000;
    color: #f8f8f8;
  }